<% layout('/layouts/layout') -%>
 
<html>
<head>
  <title><%=user.login%></title>
  <link rel="stylesheet" href="/style/account.css">
</head>
<body>

  <div class="row">

    <div class="col-sm-6">
      <p class="h1"><%= user.name %> <%= user.surname %></p>
      <image src="/usr/<%=user.login%>/avatar" id="avatar" class="image img-circle"></image>
    </div>

    <div class="col-sm-6">
    	

    </div>
  </div>

	<hr>

  <div class="row"> 	

    <ul class="list-group">
      
      <div class="col-sm-6">
     	  <li class="list-group-item">ID: <%= user._id %></li>
  	 	  <li class="list-group-item">LOGIN: <%= user.login %></li>
    	  <li class="list-group-item">Date Of Birth: <%= user.dob %></li>
        <li class="list-group-item">Gender: <%= user.gender %></li>
      </div>

          
      <div class="col-sm-6">
        <li class="list-group-item">
          <p>О себе:</p>

          <% if (user.about) { %>
            <p><%=user.about%></p>
          <% } %>
        </li>
      </div>
  
    </ul>

  </div>	

</body>
</html>
