<% layout('/layouts/layout') -%>
 
<html>
<head>
  <title><%=user.local.login%></title>
  <link rel="stylesheet" href="/style/account.css">
</head>
<body>

  		
  <image src="/img/no_avatar.jpg" id="avatar" class="image img-circle"><center><strong><%= user.local.name %> <%=user.local.surname %></strong></center></image>	  	

	<hr>

  <div class="row">
   	

    <ul class="list-group">
      
      <div class="col-sm-6">
     	  <li class="list-group-item">ID: <%= user._id %></li>
  	 	  <li class="list-group-item">LOGIN: <%= user.local.login %></li>
    	  <li class="list-group-item">Date Of Birth: <%= user.local.dob %></li>
        <li class="list-group-item">Gender: <%= user.local.gender %></li>
      </div>

          
      <div class="col-sm-6">
        <li class="list-group-item">
          <p>О себе:</p>

          <% if (user.local.about) { %>
            <p><%=user.local.about%></p>
          <% } %>
        </li>
      </div>
  
    </ul>

  </div>	

</body>
</html>
