<% layout('/layouts/layout') -%>
 
<html>
<head>
  <% if(user.login !== undefined) { %> 
    <title><%=user.login%></title>
  <% } else { %>
    <title>Pivnushka!</title>
  <% } %>
  <link rel="stylesheet" href="/style/account.css">
</head>
<body>
  <div class="row">
    <div class="col-sm-4">
      <p class="h3">Информация</p>
      <p class="h4">
        <div class="row">
          <div class="col-sm-5">
            <p>ID:</p> 
            <p>Логин:</p> 
            <p>Дата рождения:</p> 
            <p>Пол:</p> 
          </div>

          <div class="col-sm-3">
            <% if(user.id) { %> 
              <p><%= user._id %></p>
            <% } else { %>
              <p>N/A</p>
            <% } %>

            <% if(user.login) { %>
            <p><%= user.login %></p>
            <% } else { %>
              <p>N/A</p>
            <% } %>

            <% if(user.dob) { %> 
            <p><%= user.dob %></p>
            <% } else { %>
              <p>N/A</p>
            <% } %>

            <% if(user.gender) { %>
            <p><%= user.gender %></p>       
            <% } else { %>
              <p>N/A</p>
            <% } %>

          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-sm-12">
            <% if(user.about !== undefined) { %> 
              <p class="h3">О себе</p>
              <p class="h4">
                  <%=user.about%>
              </p>
            <% } %>
          </div>
        </div>

    </div>

  
    <div class="col-sm-4">
      <p class="h1"><%= user.name %> <%= user.surname %></p>
      <image src="/usr/<%=user.login%>/avatar" id="avatar" class="image img-circle"></image>
    </div>
  
  </div>
  
  <% if (mydata) { %> 
    <% if (mydata !== user) { %> 
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
         <button type="button" class="btn">Добавить</button>
         <button type="button" class="btn btn disabled">Написать</button>
        </div>
      </div>
    <% } %>
  <% } %>

	<hr>
  

  </div>	

</body>
</html>
