<% layout('/layouts/layout') -%>

<html>
<head>
	<% if(user.login !== undefined) { %>
		<title><%=user.login%></title>
	<% } else { %>
		<title>MixBox!</title>
	<% } %>
	<link rel="stylesheet" href="/style/account.css">
	<link rel="stylesheet" href="/style/loader.css">
</head>
<body>
	<!-- Information -->
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p class="h3">Information</p>
					<p class="h4">
					<div class="row">
						<div class="col-sm-5">
							<p>Login:</p>
							<p>Date of birth:</p>
							<p>Gender:</p>
						</div>

						<div class="col-md-3">
							<p id="login"><%= user.login %></p>

							<% if(user.dob) { %>
							<p><%= user.dob %></p>
							<% } else { %>
								<p>N/A</p>
							<% } %>

							<% if(user.gender) { %>
							<p><%= user.gender %></p>
							<% } else { %>
								<p>N/A</p>
							<% } %>
						</div>
					</div>
				</p>

				<hr>

				<div class="row">
					<div class="col-md-12">
						<% if(user.about !== undefined) { %>
							<p class="h3">About:</p>
							<p class="h4">
									<%=user.about%>
							</p>
						<% } %>
					</div>
				</div>
			</div>



			<div class="col-md-3">
				<% if(user.name) { %>
					<% if(user.surname) { %>
						<p class="h1"><%= user.name %> <%= user.surname %></p>
					<% } %>
				<% } %>
				<image src="/usr/<%=user.login%>/avatar" id="avatar" class="image img-circle"></image>
			</div>

			<div class="col-md-3">
				<div id="followApp">
					<h3>Followers <span class="badge badge-secondary">{{ followersLength }}</span></h3>
					<hr>
					
					<followers-list :followers="followers"></followers-list>
					<center>
						<i class="glyphicon glyphicon-arrow-left" v-on:click="prevFollowers()" v-if="followersOffset>0"></i>
						<i class="glyphicon glyphicon-arrow-right" v-on:click="nextFollowers()" v-if="followersOffset<followersLength"></i>
					</center>					

					<h3>Follows <span class="badge badge-secondary">{{ followsLength }}</span></h3>
					<hr>
					<follows-list :follows="follows"></follows-list>
					<center>
						<i class="glyphicon glyphicon-arrow-left" v-on:click="prevFollows()" v-if="followsOffset>0"></i>
						<i class="glyphicon glyphicon-arrow-right" v-on:click="nextFollows()" v-if="followsOffset<followsLength"></i>
					</center>
				</div>
			</div>

			<% if (mydata) { %>
				<% if (mydata !== user) { %>
					<div class="row" id="toolPanel">
						<div class="col-sm-4 col-sm-offset-4">
							<form method="getuser" data-remote="true">
								<button type="button" :class="isDisabled" @click="followUser()">
								{{ buttonName }}</button>
								<button type="button" class="btn btn disabled">Write</button>
							</form>
						</div>
					</div>
				<% } %>
			<% } %>
		</div>
	</div>

	<hr>

	<!-- Blog -->


		<% if (mydata) { %>
			<% if (mydata == user) { %>
					<div class="col-sm-4" id="postblock">
						<p class="h1">What's up?</p>
							<form id="create_post_form">
								<div class="form-group">
									<input class="form-control" name="text" id="text" type="text">
									<hr>
									<input type="button" v-on:click="postFeed" class="btn btn-success" value="Confirm"></input>
								</div>

								<div v-if="loading == true">
									<p>{{message}}</p>
									<div class="loader"></div>
								</div>

							</form>
					</div>
			<% } %>
		<% } %>

			<div class="col-sm-offset-4">
				<h1>Published</h1>
					<div id="blog">
						<div v-if="loading == true" class="loader">
						</div>

						<div v-else-if="loading == false" class="row">
							<div class="col-sm-10">
								<post-list v-bind:posts="posts"></post-list>
								<div class="col-md-3">
									<a class="list-group-item" v-on:click="showMore" v-if="buttonStatus == true">
									<i class="glyphicon glyphicon-chevron-down"></i> Show more</a>
								</div>
							</div>
						</div>
					</div>
			</div>

	<!-- LIST OF POSTS -->
	<script type="text/x-template" id="postList_template">
			<table class="table">
					<div class="list-group" v-for="p in posts">
							<img class="img img-circle" v-bind:src="' ' + p.avalink" id="avatarsmall">
							<h2><a :href="'/usr/' + p.author">{{ p.author }}</a></h2>
							<h6>{{ p.date }}</h6>
						<blockquote>
							<p>{{ p.text }}</p>
						</blockquote>
					</div>
			</table>
	</script>

	<!-- LIST OF FOLLOWERS -->
	<script type="text/x-template" id="followersList_template">
		<div class="row">
			<div v-for="f in followers">
				<a :href="'/usr/' + f.follower">
					<div class="col-md-3">
						<img class="img img-circle" v-bind:src="'/usr/' + f.follower + '/avatar'" id="avatarsmall">			
						<small><center>{{ f.follower }}</center></small>
					</div>
				</a>
			</div>
		</div>	
	</script>

	<!-- LIST OF FOLLOWS -->
	<script type="text/x-template" id="followsList_template">
		<div class="row">
			<div v-for="f in follows">
				<a :href="'/usr/' + f.target" class="active">
					<div class="col-md-3">
						<img class="img img-circle" v-bind:src="'/usr/' + f.target + '/avatar'" id="avatarsmall">			
						<small><center>{{ f.target }}</center></small>
					</div>
				</a>
			</div>
		</div>
	</script>
	

	<script src='/js/account/feedcontent.js'></script>
	<script src='/js/account/follow.js'></script>
	<script src='/js/account/followApp.js'></script>	
	<!-- TEMPLATES -->
	<script src='/js/postlist.js'></script>
</body>
</html>
