<% layout('/layouts/layout') -%>
 
<html>
<head>
  <link rel="stylesheet" href="/style/contacts.css">
  <title>Contacts</title>
</head>
<body>

 <%-partial('./layouts/partials/pagination')%>

  <div class="list-group">
    <%users.forEach(function(user){%>
      <li class="list-group-item">
          <img src="/go=<%=user.local.login%>/avatar" id="avatar" class="image img-circle">

          <strong><%=user.local.name%> <%=user.local.surname%></strong>    
          <a href="/go=<%=user.local.login%>"> (<%=user.local.login%>)</a>
      </li>
    <%})%>
  
    <%-partial('./layouts/partials/pagination')%>
  </div>
    

</body>
</html>
