<% layout('/layouts/layout') -%>
 
<html>
<head>
  <title>Contacts</title>


  <link rel="stylesheet" href="/style/contacts.css">

</head>

<body>

    <% if (message.length > 0) { %>
        <div class="alert alert-info"><%= message %></div>
    <% } %>

  <!-- ALL -->

  <div class="row">

    <div class="col-sm-4">
    
     <strong>Все:</strong>
     
     <% users.forEach(function(user){ %>
      
       <div class="user" id="<%= user.local.login %>">
        
        <script>
            $("#<%= user.local.login %>").click(function(){
              $("#<%= user.local.name %>").slideToggle("fast");
            });
        </script>

        <image src="/img/no_avatar.jpg" id="avatar" class="image img-circle"><strong><%= user.local.name %> <%=user.local.surname %></strong></image>
        <a href="/go=<%=user.local.login%>"> (<%= user.local.login %>)</a>

       </div>
       
       <div class="adduser" id="<%=user.local.name %>">
        <div class="row">
         
         <div class="col-sm-6">
          <form action="/contacts" method="post">
              <button class="btn" name="addusr" type="addusr" value="<%=user.local.login%>"><span class="fa fa-plus-square-o">
               <strong> ADD USER</strong></span>
              </button>
          </form>
         </div>

         <div class="col-sm-6">
            <button class="btn"><span class="fa fa-pencil-square-o">
             <strong> MESSAGE</strong></span>
            </button>
         </div>

        </div>
       </div>
    
     <%})%>
    
    </div>



</body>
</html>
