<% layout('/layouts/layout') -%>
 
<html>
<head>
  <link rel="stylesheet" href="/style/contacts.css">
  <title>Contacts</title>
</head>
<body>

 <div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-md-4">
    
      <%-partial('./layouts/partials/pagination')%>
        <% users.forEach(function(user) { %>
        <div class="panel panel-default">
            <div class="container">
                <div class="col-xs-12 col-md-4">
                  <img src="/usr/<%=user.login%>/avatar" id="avatar" class="image img-circle">

                  <strong><%=user.name%> <%=user.surname%></strong>    
                  <a href="/usr/<%=user.login%>"> (<%=user.login%>)</a>
                </div>
            </div>
          </div>
          <% }) %>
      <%-partial('./layouts/partials/pagination')%>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
      <form class="input-group custom-search-form">
        <input class="form-control" placeholder="Поиск пока не работает">
          <span class="input-group-btn">
            <button class="btn btn-default"> 
            <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
      </form>
    </div>
  </div>
    

</body>
</html>
